BODY 
{
	font-family:Arial,Helvetica,sans-serif;;
 	margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}

ul, li {
padding:0px;
border:0px;
margin:0px;
list-style:none;
}

h1, h2, h3, h4, h5 
{ padding:0px; margin:0px;}

#global_nav 
{ width:760px; font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:10px; float:left; overflow:hidden;}

fieldset
{ padding: 10px; }


TABLE 
{BACKGROUND-REPEAT: repeat;FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif;;}


TD 
{ FONT-SIZE: 11px;  FONT-FAMILY: Arial, Helvetica, sans-serif;COLOR: #000000;}


.premium_description
{ FONT-SIZE: 9px;  FONT-FAMILY: Arial, Helvetica, sans-serif;COLOR: #A2A2A2;}


a:link          {text-decoration: none;color:#000000;}
a:visited       {text-decoration: none;color:#000000;}
a:active        {text-decoration: none;color:#000000;}
a:hover         {text-decoration: underline;color:#ff4000;}

A.menu_a:link, A.menu_a:visited, A.menu_a:active
{ COLOR: #FFF;  text-decoration: none;font-size: 11px;FONT-FAMILY: Arial, Helvetica, sans-serif;}
A.menu_a:hover
{ COLOR: #FFF;  text-decoration: none; font-size: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif;}



A.chosegame_a:link, A.chosegame_a:visited, A.chosegame_a:active
{ COLOR: #000;  text-decoration: none;font-size: 11px;FONT-FAMILY: Arial, Helvetica, sans-serif;}
A.chosegame_a:hover
{ COLOR: #000;  text-decoration: none; font-size: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif;}



.tb_polls		{ font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#000000;}

body,td			{ font-family:Arial, Helvetica, sans-serif;font-size: 12px;color:#000000;}

.TextSbl		{ font-size:11px;color:#000000;}



A.player_card:link, A.player_card:visited, A.player_card:active
{
	COLOR: #999; 
	text-decoration: underline;
	font-size: 11px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}



A.player_card:hover 
{
	
	COLOR: #000; 
	text-decoration: none;
	font-size: 11px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}



A.href_orange:link, A.href_orange:visited, A.href_orange:active
{
	COLOR: #C0C0C0; 
	text-decoration: underline;
	font-size: 10px;
	FONT-FAMILY: Verdana;
}



A.href_orange:hover 
{
	
	COLOR: #EEA000; 
	text-decoration: none;
	font-size: 10px;
	FONT-FAMILY: Verdana;
}



/*
normal
textarea
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:10px;
	color:#000;
	background-color:#ffffff;
	border:1px #000;
}*/



.egl_select
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000;
	background-color:#fefefe;
	border:1px #000 solid;
	padding: 2px;
}

.egl_button
{

	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
    height:19px;
	background-color:#fefefe;
	border:1px #000 solid;
	padding: 2px;
}
.egl_file
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000;
	background-color:#fefefe;
	border:1px #000 solid;
	padding: 2px;
	
}


.egl_text
{
	font-family: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000;
	background-color:#fefefe;
	border:1px #000 solid;
	padding: 2px;
}


.egl_textbox
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000;
	border:1px #000 solid;
	padding: 2px;
}

.egl_checkbox
{
}


.egl_font_title
{
}




.egl_live_text
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#E2E2E2;
	border:1px #E2E2E2 solid;
	
	padding:3px;
	width:100%;
}


.egl_live_textbox
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#E2E2E2;
	border:1px #E2E2E2 solid;
	
	padding:3px;
	width:100%;	
}


.egl_live_td
{
	padding:0px;
	margin:0px;
}


h2
{
	font-family:Arial;
	font-size: 17px;
}

hr
{
	color: #C0C0C0;
}


.commandLink	  { line-height:18px;}
.commandLinkP	  { line-height:18px;color:#BBBBBB}
	
	
	

ul.bb-list-unordered { }
ol.bb-list-ordered { }
ol.bb-list-ordered-d { list-style-type:decimal; }
ol.bb-list-ordered-lr { list-style-type:lower-roman; }
ol.bb-list-ordered-ur { list-style-type:upper-roman; }
ol.bb-list-ordered-la { list-style-type:lower-alpha; }
ol.bb-list-ordered-ua { list-style-type:upper-alpha; }
ol.bb-listitem { }

.bb-code,
.bb-php 
{
  border: 1px solid black;
  padding: 10px;
  font-family: Courier;
  white-space: nowrap;
}

.bb-quote 
{
  border: 1px solid black;
  padding: 10px;
}

.bb-email { }
.bb-url { }

.bb-image 
{
  border-width: 0;
  border-style: none;
}

